.article {
  padding: 70px 0 70px;

  &-title {
    color: #fff;
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: -.015em;
    margin: 0 0 70px;

    @media (max-width: 800px) {
      font-size: 40px;
      letter-spacing: -.01em;
      line-height: 44px;
    }
  }

  p {
    margin: 15px 0;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: #bbb;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }
}
