@import 'layout';

.article {
  padding: 75px 0 70px;

  &-title {
    color: #fff;
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: -.005em;
    margin: 0 0 80px;

    @media (max-width: $mobile-width) {
      font-size: 38px;
      letter-spacing: 0em;
      line-height: 48px;
    }
  }

  p {
    margin: 15px 0;
    max-width: 500px;

    @media (max-width: 650px) {
      max-width: none;
    }
  }

  strong {
    font-weight: 700;
  }

  a {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  img {
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
