$container-width: 600px;
$container-padding: 20px;
$grid-padding: 15px;
$mobile-width: $container-width + 10*$container-padding;

$primary-color: #65aaff;
$secondary-color: #ffc966;
$tertiary-color: #ff7354;
$background-color: #24272f;
$text-color: #eee;
