$mobile-width: 850px;  // Viewport width until using mobile design.
$container-width: 800px;
$grid-padding: 20px;

$primary-color: #65aaff;
$secondary-color: #ffc966;
$tertiary-color: #ff7354;
$text-color: #eee;
