$container-width: 600px;
$container-padding: 20px;
$grid-padding: 15px;
$mobile-width: $container-width + 10*$container-padding;

$color-primary: #65aaff;
$color-secondary: #ffc966;
$color-tertiary: #ff7354;
$color-background: #24272f;
$color-text: #eee;
$color-small: #b0b0b0;
