@import 'constants';

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 20px;

  @media (max-width: $container-width * 1.25) {
    max-width: none;
  }

  &-wide {
    max-width: none;
  }
}
