@import 'layout';

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;

  @media (max-width: $mobile-width) {
    max-width: none;
  }

  &-wider {
    max-width: 1100px;
  }

  &-wide {
    max-width: none;
  }
}
