@import 'layout';

.footer {
  border-top: 1.5px solid #ffa63b;
  padding: 40px 0 140px;

  .footer-logo {
    display: block;
    margin-bottom: 40px;
    max-width: 100px;
  }

  .footer-text {
    color: #ffa63b;
    font-style: italic;
    margin-bottom: 40px;
    max-width: 380px;
  }

  p + p {
    margin-top: 15px;
  }

  a {
    color: #ffa63b;
    font-weight: 700;
  }
}
