@import 'layout';

.footer {
  color: #ffa63b;
  background: #fff;
  color: #000;
  padding: 42px 0 150px;

  &-wrapper {
  }

  &-logo {
    display: block;
    margin-bottom: 40px;
    width: 130px;

    @media (max-width: 800px) {
      width: 96px;
    }
  }

  &-text {
    font-style: italic;
    margin-bottom: 40px;
    max-width: 380px;
  }

  p + p {
    margin-top: 15px;
  }

  a {
    color: inherit;
    font-weight: 700;
  }
}
