@import 'constants';

.footer {
  background: #1c1c1c;
  color: #999;
  font-weight: 700;
  padding: 0 0 195px;

  &-wrapper {
    border-top: 3.5px solid;
    padding: 50px 0 0;
  }

  &-logo-wrapper {
    margin-bottom: 45px;
  }

  &-logo-link {
    display: inline;
  }

  &-logo {
    display: inline-block;
    line-height: 0;
    vertical-align: top;
    width: 90px;

    @media (max-width: $mobile-width) {
      margin-left: .1em;
      width: 84px;
    }
  }

  p + p {
    margin-top: 13px;
  }

  &-link {
    display: inline-bock;
    letter-spacing: .01em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
