@import 'layout';

.hackathon {
  padding: 0 0 0;

  &:last-child {
    padding: 0 0 150px;
  }

  &-header {
    padding: 150px 0 75px;
    position: relative;
  }

  &-meta {
    color: #eee;
    display: block;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1.2;
    margin: 0 0 12px;
    text-decoration: none;

    &-item {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }

    &-id {
      background: #eee;
      border-radius: 30px;
      color: #000;
      display: inline-block;
      font-weight: 700;
      letter-spacing: .015em;
      margin-left: .06em;
      margin-right: .95em;
      padding: .3em 1em .35em;
      text-decoration: none;

      @media (max-width: $mobile-width) {
	padding: .2em .8em .3em;
      }

      &:hover {
	background: $primary-color;
	color: #000;
      }
    }
  }

  &-title {
    color: #eee;
    font-size: 87px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: -.01em;
    text-indent: -.02em;

    @media (max-width: $mobile-width) {
      font-size: 46px;
      letter-spacing: -.005em;
      line-height: 59px;
    }
  }

  &-projects {
    margin-top: 75px;

    @media (max-width: $mobile-width) {
      margin-top: 50px;
    }
  }
}
