@import 'constants';

.hackathon-timer {
  border-radius: 5px;
  background: $secondary-color;
  color: #1e2023;
  margin: 70px 0 0;
  padding: 150px 0 200px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin: 45px 0 0;
    padding: 75px 0 95px;
  }

  &-started {
    background: $secondary-color;
  }

  &-nearly-finished {
    background: $tertiary-color;
  }

  &-finished {
    background: $tertiary-color;
  }

  &-status {
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 1.2;
    margin-bottom: 15px;

    @media (max-width: $mobile-width) {
      margin-bottom: 9px;
    }
  }

  &-time {
    font-size: 87px;
    font-variant-numeric: tabular-nums;
    font-weight: 900;
    letter-spacing: -.005em;
    line-height: 102px;

    @media (max-width: $mobile-width) {
      font-size: 46px;
      letter-spacing: 0;
      line-height: 60px;
    }
  }
}
