@import 'layout';

.hackathon-timer {
  background: $primary-color;
  border-left: 0;
  border-right: 0;
  color: #000;
  padding: 100px 0 150px;
  text-align: center;

  @media (max-width: $mobile-width) {
    padding: 75px 0 100px;
  }

  &-time {
    font-variant-numeric: tabular-nums;
    font-size: 87px;
    font-weight: 900;
    letter-spacing: -.01em;
    line-height: 1;

    @media (max-width: $mobile-width) {
      font-size: 46px;
      letter-spacing: -.005em;
    }
  }

  &-nearly-finished {
    background: #ff4444;
  }

  &-status {
    margin-top: -23px;
  }
}
