@import 'layout';

.hackathon {
  margin: 70px 0 140px;

  &-meta {
    color: #888;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 1px;

    @media (max-width: 800px) {
      font-size: inherit;
    }

    a {
      color: inherit;
    }
  }

  &-date {
  }

  &-location {
    position: relative;

    a {
      z-index: 1;
    }
  }

  &-title {
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -.02em;

    @media (max-width: 800px) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  &-image {
    display: block;
    margin: 70px 0 0;
    width: 100%;
  }

  &-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 35px;

    @media (max-width: 800px) {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-buttons {
    margin-top: 35px;
  }

  &-button {
    background: #fff;
    border: 3px solid #000;
    border-bottom-width: 5px;
    border-radius: 6px;
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    padding: .5em .5em .7em;
    text-decoration: none;

    &:hover {
      background: #000;
      color: #fff;
    }

    @media (max-width: 800px) {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-projects {
    margin-top: 70px;
  }

  &-teaser {
    background-image: url(/images/sketch.png);
    background-size: cover;
    color: #fff;
    margin-top: 0;
    margin-bottom: 70px;
    padding: 105px 0;

    @media (max-width: 800px) {
      padding: 70px 0;
    }
  }

  &-teaser & {
    &-meta {
      color: inherit;
    }

    &-title {
      color: inherit;
      font-size: 120px;
      line-height: .95;

      @media (max-width: 800px) {
        font-size: 80px;
      }

      @media (max-width: 500px) {
        font-size: 16vw;
      }
    }

    &-text {
      max-width: 800px;
    }

    &-text + &-text {
      margin-top: 15px;
    }
  }
}
