@import 'constants';

.hackathon-timer {
  border: 3.5px solid;
  border-radius: 5px;
  color: $secondary-color;
  padding: 30px 0 70px;
  text-align: center;

  @media (max-width: $mobile-width) {
    padding: 30px 0 65px;
  }

  &-started {
    color: $secondary-color;
  }

  &-nearly-finished {
   color: $tertiary-color;
  }

  &-finished {
    color: $tertiary-color;
  }

  &-status {
    margin-bottom: 10px;
  }

  &-time {
    font-size: 87px;
    font-variant-numeric: tabular-nums;
    font-weight: 900;
    letter-spacing: -.005em;
    line-height: 102px;

    @media (max-width: $mobile-width) {
      font-size: 46px;
      letter-spacing: 0;
      line-height: 60px;
    }

    &-colon {
      font-weight: 700;
      padding: 0 .15em;
      position: relative;
      top: -.06em;
    }
  }
}
