@import 'layout';

.header {
  background: #fff;
  color: #000;
  overflow: auto;
  padding: 35px 0 35px;
  position: relative;

  &-logo-link {
    display: inline-block;
    text-decoration: none;
    vertical-align: bottom;
  }

  &-logo {
    display: block;
    width: 130px;

    @media (max-width: 800px) {
      width: 90px;
    }
  }

  &-subtitle {
    color: #2b46ff;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    opacity: .9;
    vertical-align: bottom;

    @media (max-width: 800px) {
      font-size: inherit;
      line-height: inherit;
    }

    @media (max-width: 500px) {
      margin-top: -5px;
      max-width: 40%;
    }
  }
}
