@import 'constants';

.header {
  position: relative;

  &-wrapper {
    background: #24292f;
    overflow: hidden;
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &-nav {
    &-link {
      color: $primary-color;
      font-weight: 700;
      letter-spacing: .01em;
      margin-right: 1.9em;
      position: relative;
      text-decoration: none;
      top: -3px;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &-logo {
      margin-left: .1em;
      margin-right: 1.9em;
      top: 0;

      &-image {
        display: inline-block;
        text-decoration: none;
        vertical-align: top;
        width: 84px;
      }
    }
  }
}
