@import 'layout';

.header {
  background: #fff;
  color: #000;
  padding: 80px 0;

  &-logo-link {
    display: block;
  }

  &-logo {
    display: block;
    max-width: 100%;
  }

  &-nav {
    color: #2b46ff;
    opacity: .9;
    font-weight: 700;
    letter-spacing: .02em;
    margin-top: 20px;
    margin-bottom: -20px;
    text-transform: uppercase;
  }

  &-nav-item {
    display: inline-block;
  }
}
