$mobile-width: 850px;
$primary-color: #65aaff;
$secondary-color: #ffc966;
$text-color: #c5c5c5;

body {
  background: #eee;
  color: #1b1b1b;
  font-family: 'neue-haas-unica', sans-serif;
  font-size: 16px;
  font-variant-numeric: proportional-nums;
  line-height: 25px;
}

a {
  color: inherit;
}

.nowrap {
  white-space: nowrap;
}

.emoji {
  font-style: normal;
}

.main {
  background: #000;
  color: $text-color;
}
