body {
  background: #000;
  color: #fff;
  font-family: neue-haas-unica, sans-serif;
  font-size: 16px;
  line-height: 23px;
}

a {
  color: inherit;
}

.nowrap {
  white-space: nowrap;
}

.emoji {
  font-style: normal;
}
