@import 'constants';

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: 'neue-haas-unica', sans-serif;
  font-size: 17px;
  font-variant-numeric: proportional-nums;
  line-height: 26px;
}

a {
  color: inherit;
}

.nowrap {
  white-space: nowrap;
}

.emoji {
  font-style: normal;
}

.main {
  background: #1c1c1c;
  color: $text-color;
}
