@import 'layout';

.project {
  &-title {
    color: #ffa63b;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 15px;
  }

  &-image {
    display: block;
    margin: 20px 0;
    width: 100%;
  }

  &-video {
    display: block;
    margin: 20px 0;
    width: 100%;
  }

  &-buttons {
    margin: 15px 0;
  }

  &-button {
    color: #ffa63b;
    font-weight: 700;
    display: block;
  }

  &-button + &-button {
    margin-top: 15px;
  }

  p {
    color: #fff;
    margin: 15px 0;
  }

  & + & {
    margin-top: 70px;
  }
}
