@import 'layout';

.project {
  &-title {
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: .01em;
    line-height: 1.4;

    @media (max-width: $mobile-width) {
      font-size: 30px;
      letter-spacing: .015em;
      line-height: 1.45;
    }
  }

  &-author {
    font-style: normal;
  }

  &-media {
    display: block;
    margin: 30px 0;
    width: 100%;
  }

  p {
    max-width: 400px;

    @media (max-width: 650px) {
      max-width: none;
    }
  }

  p + p {
    margin-top: 25px;
  }

  &-buttons {
    margin-bottom: 25px;

    p + p {
      margin-top: 12.5px;
    }
  }

  &-button {
    color: $primary-color;
    font-weight: 700;
    letter-spacing: .01em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-description {
    color: $text-color;
    letter-spacing: .01em;
  }

  &-made-with {
    color: #808080;
    letter-spacing: .01em;
  }

  & + & {
    margin-top: 150px;

    @media (max-width: $mobile-width) {
      margin-top: 100px;
    }
  }
}
