.timer {
  background: #000;
  color: #fff;
  margin: 70px 0;
  padding: 35px 0;
  text-align: center;

  &-hidden {
    display: none;
  }

  &-time {
    font-size: 275px;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1;
    margin-top: -.13em;

    @media (max-width: 1150px) {
      font-size: 24.5vw;
    }
  }

  &-near & {
    &-time {
      color: #ff8c00;
    }
  }

  &-nearer & {
    &-time {
      color: #ff4444;
    }
  }
}
